<!--#
var unit = @shiro.getPrincipalProperty('unit');
layout("/layout/unify.html",{title:unit.name!'蛋客服'}){
#-->
<body>
<div>
    <h3>账户概述</h3>
</div>
<div>
    <span>This is your account token: </span> <span class="unit-token">${unit.token}</span>
</div>

<div>
    <form class="m-t" onsubmit="return false">
        <div class="form-group">
            <input class="form-control" name="companyName" id="companyName"   placeholder="公司名称" >
        </div>
        <button type="submit" class="btn btn-primary block" onclick="changeCompanyName()">修  改</button>
    </form>
</div>
</body>
<script>
function changeCompanyName(){
    var cn = $('#companyName').val();
    if(cn == ''){
        return;
    }
    $.post('${base}/user/changeCn',{cn:cn},function(){
    });
}
$(function(){
    $('#companyName').val('${unit.name}');
})

</script>
</html>
<!--# } #-->